body{
  padding: 0;
  margin: 0;
  width: 100%;
}
div{
  padding: 5px;
  width: 100%;
  height: 200px;
  display: flex ;
}
img{
  background-color: black;
  border-radius: 30px;
  border: 10px;
  border-color: black;
}
.bigdiv{
  display: flex;
  align-content: space-between;
  width: 100%;
}

button{
  display: flex;
  margin: 50px;
  width: 50%;
  height: 30px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}