body{
  padding: 0;
  margin: 0;
  width: 100%;
}
div{
  padding: 5px;
  width: 100%;
  height: 200px;
  display: flex ;
}
.Categories{
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 20px;
}
.Category{
  margin-right: 20px;
  font-size: 20px;
  border: 2px solid;
  cursor: pointer;
  padding: 10px 20px;

}
img{
  background-color: black;
  border-radius: 30px;
  border: 10px;
  border-color: black;
}
.bigdiv{
  width: 500vw;
  transition: all ease 1.5s;
  display: flex;
  align-content: space-between;
}
html{
  scroll-behavior: smooth;
  overflow: hidden;
}
button{
  display: flex;
  margin: 50px;
  width: 50%;
  height: 30px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}